/*
* {
  outline: 1px solid black;
}
*/


* {
	font-family: arial, sans-serif;
	font-size: 13px;
	margin: 0;
}

*, *:before, *:after {
   -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
   box-sizing: border-box;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/*====================Start of Top Nav===============================*/

.button {
	width: 71px;
 	height: 30px;
 	text-align: center;
 	font-weight: bold;
 	color: white;
 	padding: 8px 0;
    background-image: -webkit-linear-gradient(#378DFC 0%, #4683EA 100%);
    background-image: -moz-linear-gradient(#378DFC 0%, #4683EA 100%);
    background-image: -o-linear-gradient(#378DFC 0%, #4683EA 100%);
    background-image: linear-gradient(#378DFC 0%, #4683EA 100%);
	background-image: -ms-linear-gradient(#378DFC 0%, #4683EA 100%);
 	border: 1px solid #378DFC;
 	border-radius: 1px;
 	cursor: default;
}


.top-nav {
	width: 100%;
	min-width: 1000px;
	position: relative;
	padding: 0 20px;
	padding-top: 15px;
}

.top-nav ul {
	padding: 0;
	margin: 0;
	text-align: right;
}

.top-nav li {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
	margin: 0 9px 0 9px;
	line-height: 11px;
}

.top-nav li a {
	text-decoration: none;
	padding-top: 0px;
	display: block;
	color: #404040;
}

.grid {
	background: url(../images/squares.png) no-repeat center;
	background-size: 100%;
	height: 22px;
	width: 22px;
	opacity: 0.5;
	display: inline-block;
	vertical-align: middle;
}

/*=========Top Nav Psuedo======*/

.top-nav ul li:nth-child(1):hover,
.top-nav ul li:nth-child(2):hover,
.top-nav ul li:nth-child(3):hover {
	border-bottom: 1px solid black;
}

 .top-nav ul li:nth-child(4):hover a {
	opacity: 1;
 	cursor: default;

}
 .top-nav ul li:nth-child(5) a {
 	color: white;
 	cursor: default;
 	text-decoration: none;
 }

  .button:active {
	background: #3d79e1;
	border-top: 1px solid #3267c1;
}

/*============================End of Top Nav=======================*/

.google {
	background: url(../images/google-logo.png) no-repeat center;
	background-size: 250px;
	width: 350px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	margin-top: 170px;
}

.search {
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
}

input[type=search] {
	width: 520px;
	height: 28px;
	border: 1px solid rgba(94,94,94, .25);
	-webkit-border: 1px solid rgb(94,94,94, .25);
	-moz-border: 1px solid rgb(94,94,94, .25);
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;	
}


img {
	width: 20px;
	position: absolute;
	top: 335px;
	right: 160px;
	opacity: 0.75;
}


.search_buttons {

	width: 250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	text-align: center;
}

button[name=submit] {
	padding: 7px;
	border-radius: 1px;
	border: 1px solid #dcdcdc;
	color: #444;
	font-size: 10px;
	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background: linear-gradient(top,#f5f5f5,#f1f1f1);
	font-weight: bold;
}

.search_button_1 {
	margin-right: 6px;
}

.search_button_2 {
	margin-left: 6px;
}

/*=========================Start of Footer==================*/
.footer {
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	border: 1px solid #e4e4e4;
	bottom: 0;
	position: absolute;
	border: solid 1px #dadada;
	padding: 10px 10px;
	min-width: 1000px;

}

.right-footer {
	float: right;
	padding-right: 20px;
}

.left-footer {
	float: left;
	padding-left: 20px;
}

.footer-pad {
	padding-left: 20px;
}

div div a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}

/*=========================End of Footer============================*/

/*======Hover Styles=========*/

div div a:hover {
	text-decoration: underline;
}

.search_box:hover {
	border: 1px solid rgba(94,94,94, .50);
	-webkit-border: 1px solid rgb(94,94,94, .50);
	-moz-border: 1px solid rgb(94,94,94, .50);
}

.search_button_1:hover,
.search_button_2:hover
 {
	color: #222; 
	background: -webkit-linear-gradient(top, #f0f0f0, #ededed);
	background: -moz-linear-gradient(top, #f0f0f0, #ededed);
	background: linear-gradient(top, #f0f0f0, #ededed);
	box-shadow: 0 1px 0 rgba(0,0,0, .15);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0, .15);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0, .15);
}

img:hover {
	opacity: 1;
}
